<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title>Sign In</title>
</head>
<body>
<section layout:fragment="content">
    <div class="profile-page" th:object="${profile}">
        <div class="user-info">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 offset-md-1">
                        <img th:src="*{imageURL()}" class="user-img"/>
                        <h4 th:text="*{username()}"></h4>
<!--                        <p th:text="*{bio}"></p>-->
                        <button class="btn btn-sm btn-outline-secondary action-btn">
                            <i class="ion-plus-round"></i>
                            &nbsp; Follow Eric Simons
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <div class="articles-toggle">
                        <ul class="nav nav-pills outline-active">
                            <li class="nav-item">
                                <a class="nav-link active" href="">My Articles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Favorited Articles</a>
                            </li>
                        </ul>
                    </div>

                    <div th:attr="hx-get=@{/articles?author={username}(username=*{username})}"
                         hx-trigger="load" hx-swap="outerHTML">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>