<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title>Sign In</title>
</head>
<body>
<section layout:fragment="content">
    <div class="auth-page">
        <div class="container page">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">Sign in</h1>
                    <p class="text-xs-center">
                        <a th:href="@{/register}">Need an account?</a>
                    </p>

<!--                    <ul class="error-messages">-->
<!--                        <li>That email is already taken</li>-->
<!--                    </ul>-->

                    <form th:action="@{/login}" method="post">
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="text" name="email" placeholder="Email"/>
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="password" name="password" placeholder="Password"/>
                        </fieldset>
                        <button class="btn btn-lg btn-primary pull-xs-right">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>